.meals {
  width: 100%;
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem;
  margin: 1rem auto;
  list-style: none;
  padding: 0;
}

@media (min-width: 640px) {
  .meals {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 3rem;
    margin: 1.5rem auto;
  }
}

@media (min-width: 1024px) {
  .meals {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    grid-gap: 4rem;
    margin: 2rem auto;
  }
}
